@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.rammetto {
	font-family: var(--font-rammetto);
	font-style: normal;
}

.roboto-thin {
	font-family: var(--font-roboto);
	font-weight: 200;
}

.roboto-light {
	font-family: var(--font-roboto);
	font-weight: 300;
}

.roboto-regular {
	font-family: var(--font-roboto);
	font-weight: 400;
}

.roboto-bold {
	font-family: var(--font-roboto);
	font-weight: 700;
}
